body {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif;
  background-color: white;
}
 
body * {
  vertical-align: top;
}

.container {
  border: 1px solid red;
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.header {
	display: block;
	width: 100%;
	padding-right: 0;
	margin: 0;
	background-color: gray;
	background: url('img/bg.png') repeat-x top left;
	height: 60px;
}

/* make EVERYTHING inside the header inline-block*/
.header .container * {
	display: inline-block;
	color: white;
	position: relative;
	text-shadow: 0 2px 1px #000;
}

.mobber-logo {
	padding-top: 12px;
}

.header .nav .user-menu {
	margin: 17px 0 0 20px;
	padding-top: 0;
	padding-left: 15px;
}

.header .nav li {
	font-size: 16px;
	letter-spacing: 1px; 
	display: inline;
	margin-top: 28px;
	margin-right: 35px;
	list-style-type: none;
	text-transform: uppercase;
}

.avatar {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	padding-top: 4px;
	box-shadow: 0px 2px 2px #000;
	display: inline-block;
}

.header .container .user-menu {
	display: inline-block;
	position: absolute;
	right: 0;
	width:160px;
}

.user-name {
	display: inline-block;
	padding-top: 17px;
	padding-left: 8px;
	padding-right: 7px;
}

.caret {
	display: inline-block;
	margin-top: 23px;
}

/* Subheader Section */

.subheader {
	position: relative;
	display: inline-block;
	width: 100%;
	padding-right: 0;
	margin: 0;
	background-color: white;
	box-shadow: 0px -5px 12px #000;
	height: 88px;
}

.container h1 {
	font-size: 26px;
	margin-top: 25px;
	letter-spacing: 1px;
	color: rgba(50, 50, 50, 0.9);
}

/* Banner Section */

.banner {
	display: inline-block;
	width: 100%;
	padding-right: 0;
	margin: 0;
	background-color: rgb(238, 236, 232);
	height: 580px;
}

.arena {
	margin-top: 30px;
	position: relative;
}

.arena-bar {
	width: 620px;
	height: 57px;
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	top: 30px;

}

.arena-bar h2 {
	color: white;
	margin-left: 18px;
	margin-top: 9px;
	font-size: 24px;
	font-weight: lighter;
}









